<% @title = 'Search Results' %>

<h1>Search Results: <%= @query %></h1>

<section class="search">
<h2>Bands</h2>
<% if @bands.empty?%>
    <p>No bands found.</p>
<% else %>
    <% @bands.each do |band| %>
        <%= link_to band.name, band_url(band) %>
    <% end %>
<% end %>
</section>

<section class="search">
<h2>Albums</h2>
    <% if @albums.empty?%>
<p>No albums found.</p>
<% else %>
    <% @albums.each do |album| %>
        <%= link_to album.title, album_url(album) %>
    <% end %>
<% end %>
</section>

<section class="search">
<h2>Tracks</h2>
<% if @tracks.empty?%>
    <p>No tracks found.</p>
<% else %>
    <% @tracks.each do |track| %>
        <%= link_to track.title, track_url(track) %>
    <% end %>
<% end %>
</section>