<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Music App!</h1>
    <p>
      Your login name is <%= @user.email %>.
    </p>
    <p>
      Before you can log in, you will need to activate your account by clicking 
      <a href="<%= @url %>" target="_blank">this link.</a>
    </p>
    <p>
        Thanks for joining and have a great day!<br>
        From everybody at the Music App team!
    </p>
  </body>
</html>