<% action_url = controller_name == 'sessions' ? session_url : users_url %>
<% btn_text = controller_name == 'sessions' ? 'Log In' : 'Sign Up' %>

<form action='<%= action_url %>' method='post'>
    <%= auth_form %>
    <div>
        <label for='email'>Email:</label>
        <input type='text' id='email' name='user[email]'
            <% if params.key?(:user) && params[:user].key?(:email) %>
                value='<%= params[:user][:email] %>'
            <% end %>>
    </div>

    <div>
        <label for='password'>Password:</label>
        <input type='password' id='password' name='user[password]'>
    </div>

    <div>
        <input type='submit' value='<%= btn_text %>'>
    </div>
</form>