<% @title = 'Bands' %>

<h1>Bands</h1>
<div class="right">
    <%= link_to 'Add a Band', new_band_url, class: 'link-btn' %>
</div>

<section>
    <% @bands.each do |band| %>
        <%= link_to band.name, band_url(band), class: 'band-btn' %>
    <% end %>
</section>
